*~
.hydra
*pyc
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/
agilex_checkpoints/

*.mp4
*.png
*.log
libero.egg-info/
.vscode/
data/libero/
.env
.ipynb_checkpoints/